@import url('https://fonts.googleapis.com/css2?family=Brush+Script+MT&display=swap');
@import './styles/tailwind.scss';

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-logo {
  width: 3.5rem;
  height: 3.5rem;
}

.hero-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-image {
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: #f1f1f1;
}

.footer-text {
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A0DEFF;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo {
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  cursor: pointer;
  padding: 0.5rem;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hamburger div {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #333;
}

.hamburger div::before,
.hamburger div::after {
  content: '';
  width: 1.5rem;
  height: 0.2rem;
  background-color: #333;
}

.hamburger div::before {
  transform: translateY(-0.5rem);
}

.hamburger div::after {
  transform: translateY(0.5rem);
}

.nav-links {
  display: none;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-links li:not(:last-child)::after {
    content: "";
    display: block;
    width: 2px;
    height: 1.5rem;
    //background-color: #aa2d2d;
    margin: 0 1rem;
  }
}

.social-icons a {
  transition: background-color 0.3s;
}

.buy-button {
  transition: background-color 0.3s;
}

footer p {
  margin: 0;
}
/* Add this to your src/index.css or any global CSS file */

.whitepaper-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.whitepaper-header {
  background-color: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
}

.section {
  border-bottom: 1px solid #e5e7eb;
}

.section:last-child {
  border-bottom: none;
}
